body {
  margin: 0;
  font-family: "GeistLight";
}

@font-face {
  font-family: "GeistLight";
  src: local("GeistLight"),
    url("./fonts/Geist-Light.otf") format("opentype");
  font-weight: normal;
}