body {
  margin: 0;
  font-family: "GeistLight";
}

@font-face {
  font-family: "GeistLight";
  src: local("GeistLight"),
    url("./fonts/ComicNeue-Regular.ttf") format("opentype");
  font-weight: normal;
}